@keyframes animateHeart{
    0%{transform:scale(1)}
    5%{transform:scale(1.2)}
    10%{transform:scale(1.1)}
    15%{transform:scale(1.3)}
    50%{transform:scale(1)}
    100%{transform:scale(1)}
}

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

html, body{
    margin: 0; 
    padding: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background: #bee3db; 
    font-size: 1.2em;
}

.header a{
    text-decoration: none;
}

.header a:hover{
    text-decoration: underline;
}

p,h1,h2,h3,h4,h5,h6,div,i{
    margin: 0;
    padding:0;
}

p{
    padding: 10px;
}

h1,h2,h3,h4,h5,h6, .comfortaa{
    font-family: 'Comfortaa', cursive;
}

.header{
    height: 10vh;
    font-size: 0;
    font-family: 'Comfortaa', cursive;
    background: #555b6e;
}

.header ul{
    margin: 0;
    padding: 0;
}

.header ul li{
    list-style-type: none;
    display: inline-block;
    width: 33.3%;
    font-size: 32px;
    line-height: 10vh;
    text-align: center;
}

.background-img{
    width: 400px;
    height: 266px;
    background: url('../image/bugatti.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    opacity: 0.9;
    
}

.background-img:hover{
    opacity: 1;
}

.light{
   color: #fff; 
}

.bold{
    font-weight: bold;
}

.car-list{
    background:#fff;
}

.car-list{
    width: 49.5%;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    border-radius: 5px;
}

.center{
    text-align: center;
}

.footer{
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    padding: 60px;
    padding-top:10px;
    background: #555b6e;
    color: white;
} 

.sign-in{
    position: fixed;
    bottom: 0;
}

.heart{
    animation: animateHeart 2.5s infinite;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 13px;
}

.heart-p{
    padding: 5px;
}

.footer p{
    width:fit-content;
    display: inline-block;
    overflow: hidden;
}

.list{
    width: 90%;
    margin: 0 auto;
}

.social a{
    margin: 0 10px;
}

.filter{
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

input,select,button{
    padding: 10px;
    border: none;
    margin: 0;
    margin-bottom: 4px;
}

.car-list img{
    width: 100px;
}

button{
    border-radius: 3px;
}


.car-list p{
    padding: 2px;
}

.mart{
    color: #bee3db;
    font-weight: bolder;
}

.car img{
    border-radius: 5px;
    margin-bottom: 10px;
}

.preview img{
    margin: 10px;
    opacity: 0.85;
}

.preview img:hover{
    margin: 10px;
    opacity: 1;
}

.buy, .ok{
    background: #007BFF;
    padding: 20px;
    width: 200px;
    margin-bottom: 30px;
}

.mark-sold{
    background: #28A745;
}

.flag{
    background: #DC3545;
    outline: 1px solid #DC3545;
}

.delete{
    background: #343A40;
}

.inverse:hover{
    background: white;
    color: black;
}

.log-in{
    background: url('../image/porsche.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

hr{
    width: 90%;
    margin-top: 30px;
}

.log, .sign-up{
    width: fit-content;
    margin-left:auto; 
    margin-right:60px;
    text-align: center;
    font-weight: bold;
}

.sign-up-button{
    width: 110px;
    height: 50px;
}

.sign-up input{
    display: block;
    margin-bottom: 20px;
}

#log-in-button{
    background: #007BFF;
    color: white;
}

#log-in-button:hover{
    color: black;
    background: white;
}
